.item {
    background-color: #ecf6ec;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px;
    border: none;
    width: 300px;
}

.item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
}


.quantity-input {
width: 20px;
  
}

.quantity-button{
    background-color: #143b04;
    border: none;
}

.quantity-button:hover{
    background-color: #1b5205;
}

.item-title {
    margin-top: 10px;
}

.item-description {
    color: #666;
}

.item-quantity {
    margin-top: 10px;
}


.quantity-input {
    width: 90px;
    text-align: center;
    margin-top: 20px;
}

.add-to-cart-button {
    margin-top: 30px;
    background-color: #48812f;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="number"]:focus,
input[type="number"]:active {
    outline: none;
    box-shadow: none;
    border: 1px solid green;
}

.btn:focus,
.btn:active {
    background-color: #164a01 !important;
}

.add-to-cart-button:hover {
    background-color: #4e9333;
}