.nav-item a {
    text-decoration: none !important;
}

.numberItem {
    margin-top: 2px;
    margin-left: 6px;
    color: white;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 60px;
}

.item-list:hover {
    color: rgba(71, 206, 67, 0.573);
}